{% extends 'head.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <main>
        <h1>Bem-vindo ao nosso site!</h1>

        {% if user %}
            <p>Olá, {{ user }}!</p>
            <a href="{{ url_for('logout') }}"><button>Sair</button></a>
        {% else %}
            <a href="{{ url_for('login') }}"><button>Sign In</button></a>
            <a href="{{ url_for('register') }}"><button>Sign Up</button></a>
        {% endif %}

        <hr>
        <h2>Posts públicos</h2>
        <ul>
            <li>Post 1: Lorem ipsum dolor sit amet</li>
            <li>Post 2: Consectetur adipiscing elit</li>
            <li>Post 3: Sed do eiusmod tempor</li>
        </ul>
    </main>
{% endblock %}
</html>